<h2> Sesi 1 - Challenge: coba create gabungan antara list, string, dan integer yang nanti dicompare dengan menggunakan variable </h2>

In [ ]:
list_1 = ['a', 2, 'c', 3, 'de']
str_1 = 'I am me'
int_1 = 99

In [ ]:
merge_1 = [list_1, str_1, int_1]
print(merge_1)

In [ ]:
int_2 = 100
print(merge_1[2] == int_2)

str_list_1 = 'a2c3de'
print(merge_1[0] == str_list_1)

<h2> Sesi 2 - Challenge</h2>

In [ ]:
nama_panjang = input('nama panjang: ')
nama_pendek = input('nama pendek: ')
umur = input('umur: ')

list_string_nama_panjang = nama_panjang.split()
jumlah_kata = len(list_string_nama_panjang)

if jumlah_kata==3:
    print(nama_panjang)
elif jumlah_kata!=3:
    if int(umur) % 2 == 0:
        print(nama_panjang)
    else:
        print(nama_pendek)

In [ ]:
i = 0

clean_nama_panjang = nama_panjang.replace(' ','')

for n in clean_nama_panjang:
    i += 1
    print(i)

In [ ]:
nama = nama_pendek
list_1 = [1,2,3,4]
list_2 = [1,2,3,5]

if list_1 == list_2:
    print(list_1)
else:
    for i in list_1:
        print(nama)

<h2> Sesi 3 - Challenge </h2>

<p> kita membutuhkan fungsi untuk menghitung perkalian dari item2 di list A, kemudian hasil dari perkalian tersebut dikalikan ke setiap item di list B
contoh:
list_a = [1,2,3,4]
list_b = [4,5,6,7]
maka hasil dari fungsi: [96,120,144,168] </p>

In [ ]:
list_a = [1,2,3,4]
list_b = [4,5,6,7]

def func_case1(listA, listB):
    result = 1
    
    for x in listA:
        result = result * x;
    
    for x in range(0,len(listB),1):
        listB[x] = result * listB[x]
        
    return listB;

print(func_case1(list_a,list_b))

kita membuat 2 fungsi, dimana fungsi pertama adalah untuk mengecek input itu adalah suatu angka bukan huruf dan apakah angka itu dapat dibagi oleh suatu angka, hasil dari fungsi tersebut adalah true atau false
fungsi yg kedua adalah apabila hasil dari fungsi pertama itu adalah true, maka kita akan mempangkatkan angka tersebut dengan pangkat yang kita inginkan, dan apabila false maka keluar kata2: "input bukan angka" atau "input tidak bisa dibagi 2"
contoh:
input: 10
pangkat: 3
maka hasil

In [ ]:
base = input('input: ')
power = int(input('pangkat: '))

def func_case2_isDivisibleByTwo(num):
    
    if base.isnumeric():
        if int(num)%2 == 0:
            return True
        else:
            print('input tidak bisa dibagi 2');
            return False
    else:
        print('input bukan angka');
        return False
    
def func_case2_calculatePower(baseNum, powerNum):
    
    check = func_case2_isDivisibleByTwo(baseNum)
    
    if check:
        return int(baseNum)**powerNum
    else:
        return ''

print(func_case2_calculatePower(base, power))

<h2> Sesi 4 - Challenge </h2>

In [ ]:
import numpy as np

Case:<br></br>Create Create numpy array from your inputted full name in the form of numbers based on order in alphabets. You can use this translater to change from alphabet to number:
```py
letter_to_word = {'a': 1, 'c': 3, 'b': 2, 'e': 5, 'd': 4, 'g': 7, 'f': 6, 'i': 9, 'h': 8, 'k': 11, 'j': 10, 'm': 13, 'l': 12, 'o': 15, 'n': 14, 'q': 17, 'p': 16, 's': 19, 'r': 18, 'u': 21, 't': 20, 'w': 23, 'v': 22, 'y': 25, 'x': 24, 'z': 26}
```
Also add repetition on the number based on your inputted number.
Example:
inputted full name = 'Jenny'<br>
repeated = 4 times<br>
result:<br>
```
[[10  5 14 14 25]
 [10  5 14 14 25]
 [10  5 14 14 25]
 [10  5 14 14 25]]
```

In [ ]:
letter_to_word = {'a': 1, 'c': 3, 'b': 2, 'e': 5, 'd': 4, 'g': 7, 'f': 6, 'i': 9, 'h': 8, 'k': 11, 'j': 10, 'm': 13, 'l': 12, 'o': 15, 'n': 14, 'q': 17, 'p': 16, 's': 19, 'r': 18, 'u': 21, 't': 20, 'w': 23, 'v': 22, 'y': 25, 'x': 24, 'z': 26}

name = str(input('name:'))
repeated = int(input('repeated:'))

# Step 1 - create name array

arr_name = np.empty(0, dtype=int)

for i in name:
    arr_name = np.append(arr_name, np.array([letter_to_word[i]]))

# Step 2 - repeat array

arr_result = np.full((repeated,len(arr_name)), arr_name, dtype=int)

print(arr_result)

Case:<br></br>Create data housing price using random number in numpy array with below column:
* house price in integer
* square feet in integer
* is_new in 0 or 1
* city in categorical integer

After that create 2 arrays that are for testing and training purposes.

The input will be:
* number of data
* range of data in each column

In [ ]:
number_of_house = int(input('number of data: '))

print('')
print('range data: ')

min_house_price = int(input('minimum house price: '))
max_house_price = int(input('maximum house price: '))

min_house_area = int(input('minimum house area: '))
max_house_area = int(input('maximum house area: '))

number_of_cities = int(input('number of cities: '))

print('')
houses = np.random.randint([min_house_price, min_house_area, 0, 1], [max_house_price+1,max_house_area+1,2,number_of_cities+1],size=(number_of_house,4))

print(houses)

<h2> Sesi 5 - Challenge </h2>

In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv')

In [3]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [7]:
a['Total_Time'] = a['traveltime'] + a['studytime']
a[['Total_Time', 'traveltime', 'studytime']].describe()

       Total_Time  traveltime   studytime
count  395.000000  395.000000  395.000000
mean     3.483544    1.448101    2.035443
std      1.035711    0.697505    0.839240
min      2.000000    1.000000    1.000000
25%      3.000000    1.000000    1.000000
50%      3.000000    1.000000    2.000000
75%      4.000000    2.000000    2.000000
max      8.000000    4.000000    4.000000